<%# app/views/players/_form.html.erb %>
<%= form_with model: [@season, player] do |form| %>
  <% if form.object.errors.any? %>
    <p class="error">
      <%= form.object.errors.full_messages.first %>
    </p>
  <% end %>

  <div class="flex flex-col gap-2">
    <%= render "shared/text_input",
    form: form,
    field: :name,
    error: nil,
    disabled: false %>
    <%= render "shared/text_input",
    form: form,
    field: :jersey_number,
    error: nil,
    disabled: false %>
    <div class="flex items-center gap-2">
      <%= form.check_box :active %>
      <%= form.label :active %>
    </div>

    <button class="px-4 py-2 my-2 self-center border-2 rounded-4xl">
      <%= form.submit %>
    </button>
  </div>
<% end %>
