<div class="flex flex-col gap-3 p-5 items-center">
  <h1 class="font-bold text-4xl">Players</h1>
  <div
    class="
      relative overflow-x-auto bg-neutral-primary shadow-xs rounded-xl border
      border-default
    "
  >
    <table class="w-full text-sm text-left text-body">
      <thead class="text-sm text-body border-b border-default">
        <tr>
          <th scope="col" class="px-6 py-3 bg-neutral-secondary-soft font-medium">
            Name
          </th>
          <th scope="col" class="px-6 py-3 font-medium">
            Number
          </th>
          <th scope="col" class="px-6 py-3 bg-neutral-secondary-soft font-medium">
            Active
          </th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr class="border-b border-default">
            <th
              scope="row"
              class="
                px-6 py-4 font-medium text-teal whitespace-nowrap bg-neutral-secondary-soft
              "
            >
              <%= link_to player.name, player_path(player) %>
            </th>
            <td class="px-6 py-4">
              <%= player.jersey_number %>
            </td>
            <td class="px-6 py-4 bg-neutral-secondary-soft">
              <%= player.active %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="flex justify-center mt-3">
    <%= link_to "New Player",
    new_player_path,
    class:
      "border-2 border-blue-400 px-4 py-2 rounded-4xl text-blue-500 hover:bg-blue-400 hover:text-white" %>
  </div>

  <div class="flex justify-center mt-3">
    <%= link_to "Back",
    teams_path,
    class:
      "border-2 border-blue-400 px-4 py-2 rounded-4xl text-blue-500 hover:bg-blue-400 hover:text-white" %>
  </div>
</div>
